/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
._1GYybQmW4_zd1-vwjOeTOg {
  align-items: flex-start;
  color: inherit;
  display: flex;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  text-decoration: none; }
  @media (hover: hover) and (pointer: fine) {
    ._1GYybQmW4_zd1-vwjOeTOg:hover {
      opacity: .8; } }
  ._1GYybQmW4_zd1-vwjOeTOg ._3wutCSC0leHfYuNUyzxZ_k {
    flex-grow: 0; }
  ._1GYybQmW4_zd1-vwjOeTOg .UUUhmd_nm9jw8VVwe6KY6 {
    flex-grow: 1;
    padding-left: 1rem; }
  ._1GYybQmW4_zd1-vwjOeTOg ._1AepoTeDFhVDTGvt68rXjr {
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-family: var(--ipt-font-family);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.03125em;
    text-decoration: inherit;
    text-transform: inherit;
    -webkit-font-smoothing: auto;
    /* stylelint-disable */
    font-smooth: auto;
    /* stylelint-enable */
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden; }
  ._1GYybQmW4_zd1-vwjOeTOg .EWfrgYZY0YuFgpMT7MzGI {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-family: var(--ipt-font-family);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.03333em;
    text-decoration: inherit;
    text-transform: inherit;
    -webkit-font-smoothing: auto;
    /* stylelint-disable */
    font-smooth: auto;
    /* stylelint-enable */
    margin-top: 0.25rem; }
  ._1GYybQmW4_zd1-vwjOeTOg ._1EvrQYr1kcMU8ieZaywC6m {
    margin-left: 0.5rem; }

/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
._3FLnD_YDkswqtyK_DLaH5o {
  margin-left: var(--ipt-pageMargin);
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  /* stylelint-disable */
  scrollbar-width: none;
  /* Firefox */
  /* stylelint-enable */
  -ms-overflow-style: none;
  /* IE */ }
  ._3FLnD_YDkswqtyK_DLaH5o::-webkit-scrollbar {
    /* Chrome/Safari */
    display: none; }
  ._3FLnD_YDkswqtyK_DLaH5o ._3dd1iVcZ6JEUaPw3Hqne6J {
    margin-left: 0.5rem; }
    ._3FLnD_YDkswqtyK_DLaH5o ._3dd1iVcZ6JEUaPw3Hqne6J ._3jP9CiIkfY5fAvdh2xtStA {
      white-space: nowrap; }


/*# sourceMappingURL=imdb.IMDbNewsReactFeature.d899fb8b24b9aa8954cd.css.map*/