/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
._2qfrqQ0NGEqYBbYj5dfYNI {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  color: inherit;
  text-decoration: none; }

._2qfrqQ0NGEqYBbYj5dfYNI:hover {
  cursor: pointer; }

/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
.S1G7ImmXlWPCBg_fOq5Nz {
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-family: var(--ipt-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-font-smoothing: auto;
  /* stylelint-disable */
  font-smooth: auto;
  /* stylelint-enable */
  color: white;
  color: var(--ipt-on-baseAlt-textPrimary-color);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 85%; }

._2vhGIRsbMn11YYDr2prB6v {
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-family: var(--ipt-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-font-smoothing: auto;
  /* stylelint-disable */
  font-smooth: auto;
  /* stylelint-enable */
  color: white;
  color: var(--ipt-on-baseAlt-textPrimary-color);
  font-weight: bold;
  max-width: 85%; }

._3wguj2V9Okcd3W5wPgf_um {
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  color: var(--ipt-on-baseAlt-textSecondary-color);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-family: var(--ipt-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-font-smoothing: auto;
  /* stylelint-disable */
  font-smooth: auto;
  /* stylelint-enable */
  max-width: 85%; }

._2GkskNbhR2Wsz6tnegPQcJ {
  text-align: left;
  color: white;
  color: var(--ipt-on-baseAlt-textPrimary-color);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-family: var(--ipt-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.01786em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-font-smoothing: auto;
  /* stylelint-disable */
  font-smooth: auto;
  /* stylelint-enable */
  margin-bottom: 0.25rem;
  max-width: 85%; }

._1MmSmT1D-O2dCg9wIlNwEr {
  display: inline-flex;
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2); }

._1J9rzDpzN9z6t3S6SH5v0I {
  margin-right: 0.75rem;
  width: 90px;
  flex-shrink: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }

._3tyissDbXA0S_vZ_76v1U_ {
  width: 100%;
  text-align: left; }

@media screen and (min-width: 1024px) {
  ._1MmSmT1D-O2dCg9wIlNwEr {
    border-bottom: none;
    padding-top: 0px; } }

/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
._1CoSySIVmUG0tAhUO0P4d9 {
  padding-bottom: 0.75rem; }

._2cU53FRCqY5s0-BLM4LGMz {
  text-align: center;
  padding-bottom: 0.75rem; }

._3j2nAzpmjFt0g-KWk45AV3 {
  padding-left: var(--ipt-pageMargin);
  padding-right: var(--ipt-pageMargin);
  display: flex;
  flex-direction: column; }

@media screen and (min-width: 1024px) {
  ._2lTSIYyYIxT8A8unsCMPga {
    flex-basis: content;
    display: inline-flex;
    flex-direction: row;
    vertical-align: top; } }

/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
._2MnxmAdjvFcRx39UZ-sJox {
  background: var(--ipt-on-baseAlt-background);
  font-family: 'Roboto', sans-serif;
  width: 100%; }


/*# sourceMappingURL=imdb.IMDbWinnersReactFeature.27439c19c2f4ffedc21c.css.map*/