.KKbeJR-0ORvn7OZGFwm15 {
  text-align: center; }

._3_alKkRCEKuSXYWLROQk8P {
  text-align: right; }

._2j8f2Rr0rAPlRRkbKqjOQT {
  color: #ffffff !important; }

._18ZlWrfq_2UlNya1vD6xPQ {
  padding-left: 40px;
  padding-right: 40px; }

._3KH98fQAY6bXjY1i3-Zm_Y {
  color: #ffffff;
  line-height: 32px;
  font-size: 24px;
  font-weight: 600;
  font-family: Roboto,Helvetica,Arial,sans-serif; }

.Vdt7M1p0CcTeZPuelAx1z {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px; }

._20ER1FFjjD3InMkrZVo7SP {
  margin-top: 32px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  font-family: Roboto,Helvetica,Arial,sans-serif; }

._1QZdVfh08yxHu_0q8-dNE6 {
  margin-bottom: 8px; }

._3EjqzQFE5npx-lBPl-rSAj {
  margin-top: 48px;
  height: 44px !important;
  font-size: 15px !important; }

._3u9d9p8p3janR9kZUM-2X0 {
  margin-top: 16px;
  height: 44px !important; }

._2cFe6XsmwNOsm5yqVJcYDv {
  color: #ffffff;
  font-size: 15px !important; }

._3DySSl52Fb6cYOHbDul5Os {
  text-align: center; }

.pJFyQvIhBtdtV77bQTnku {
  text-align: right; }

.w7PmQwl7o9S1lXixziAVR {
  color: #ffffff !important; }

.tRKyppPcwXFf7F6fkbmUj {
  padding-left: 40px;
  padding-right: 40px; }

._2v9_DX59xkdB8jnc8eK01a {
  color: #ffffff;
  line-height: 32px;
  font-size: 24px;
  font-weight: 600;
  font-family: Roboto,Helvetica,Arial,sans-serif; }

._2x9oFhJBL4fTh1nCtKZpKF {
  margin-top: 32px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  font-family: Roboto,Helvetica,Arial,sans-serif; }

._3xYX7AIdbzrttR5lKJ_nJ2 {
  margin-top: 16px; }

._1lsCLDGlAWpFboiLy3Cxxy {
  margin-top: 48px;
  height: 44px !important;
  font-size: 15px !important; }

._3qmhhVlSWjXNhUC3y9ca7V {
  margin-top: 16px;
  height: 44px !important; }

._260wCmbnxirKyrMKc7m_85 {
  color: #ffffff;
  font-size: 15px !important; }

.ehmafDg4gZ6NOdBpUpRWN {
  text-align: center; }

._3ksKiMdtvHGQl9lDvwSpH7 {
  text-align: right; }

._2PSkei0YhXTc4wHWmKfyxF {
  color: #ffffff !important; }

._3oBqEh0-bBig_lNfNoJ6Ss {
  padding-left: 40px;
  padding-right: 40px; }

._3PfThPDrT-ffUodPth11P1 {
  color: #f5c518;
  line-height: 32px;
  font-size: 24px;
  font-weight: 600;
  font-family: Roboto,Helvetica,Arial,sans-serif; }

.iv63N-7xwK_pJXXw-LJPY {
  margin-top: 36px;
  height: 44px !important;
  font-size: 15px !important; }

._1niy1qeCzRaWJT-Idc-PRM {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  font-family: Roboto,Helvetica,Arial,sans-serif; }

._3VWHFEtMdHatvXndqKK_C0 {
  height: 44px !important;
  background-color: #ffffff !important;
  color: #000000 !important;
  margin-bottom: 8px;
  font-size: 15px !important; }
  ._3VWHFEtMdHatvXndqKK_C0 > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; }

._1aK1Z3awRsgZCjxq652blG {
  margin-right: 32px;
  margin-left: 2px;
  margin-top: 4px; }

._2_TtxIBhDgQ5_ElDx_Ysfk {
  margin-top: 8px; }

._35S2yu76WzVnhXI_kAYmm {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  font-family: Roboto,Helvetica,Arial,sans-serif; }

._3vX5eTv8SkpVdhUR8iKOwA {
  margin-top: 16px;
  height: 44px !important; }

._3JSmytr4zgD3V3bD1FsJEN {
  color: #ffffff;
  font-size: 15px !important; }


/*# sourceMappingURL=imdb.IMDbHomepageRegistrationModal.b08292873f5a107c9af7.css.map*/